.sidebar {
  min-width: 600px;
  position: relative;
  height: 100%;
  .json-data-container {
    width: 60%;
    position: relative;
    left: 0;
    display: inline-block;
    float: right;
    box-sizing: border-box;
    vertical-align: top;
    padding: 4px;
    height: 600px;
  }
  .chart-config-container {
    width: 40%;
    box-sizing: border-box;
    float: left;
    .config-container {
      width: 100%;
      .tab-container {
        .tab {
          width: 50%;
          box-sizing: border-box;
          float: left;
          display: inline-block;
          background: #ffffff;
          padding: 4px;
          text-align: center;
          &.select {
            background: #eeeeee;
          }
        }
      }
      .config-content {}
    }
    .chart-select-container {
      width: 100%;
      padding: 4px;
      box-sizing: border-box;
    }
  }
}